PORT=8080
FOLIO_PREFIX=SANTM 2-
LAST_FOLIO_NUMBER=983
PUBLIC_BASE_URL=https://tu-app.onrender.com
MEDIA_ROUTE_TOKEN=cambia_este_token_largo
ADMIN_TOKEN=cambia_este_token_admin
# Opcional: solo sirve para sembrar usuarios la primera vez; luego se administran desde el HTML.
ALLOWED_NUMBERS=526621989843,5216621989843

# Para responder manualmente desde el panel web usando el mismo número de Twilio:
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_WHATSAPP_FROM=whatsapp:+5216623889875

# Avisos al administrador cuando alguien emite póliza
ADMIN_NOTIFY_NUMBERS=5216622434983
